.navbar{
    background-image: url('Hero-bg.png');
    height: 600px;
}
.st{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    /* border: 1px solid black; */
}
.btn{
    background-color: #4E47FF;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
    /* margin-top: 100px; */
}

.st h4{
    font-size: 35px;
    color: #4E47FF;
}
.banner{
    margin-left: 200px;
    margin-right: 200px;
    margin-top:150px ;
}
.banner h2{
    text-align: center;
    font-size: 50px;
}
.banner .btn{
    margin-left: 45%;
    padding: 10px 25px;
}
.btn:hover{
    background-color: rgb(45, 144, 36);
    box-shadow: 5px 5px rgb(105, 177, 201);
}
.section{
    margin: 120px;
    display: flex;
    justify-content: space-between;
}
.section h2{
    font-size: 40px;
}
.section p{
    color: #757575;
    font-size: 20px;
}
.right img{
    border-radius: 50px;
}
.user-section{
    background-color: #c8c8cf;
    margin: 120px;
    border-radius: 20px;
}
.user-section .title{
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}
.subtitle{
    display: flex;
    justify-content: center;
    gap: 250px;
}
.user-section .subtitle h1{
    font-size: 60px;
    font-weight: bold;
    color: #4E47FF;
}
.user-section .subtitle p{
    color: #757575;
    font-size: 20px;
}
.feedback{
    margin: 120px;
}
.feedback-title{
    padding: 20px;
    border-radius: 10px;
    height: 190px;
    width: 900px;
    background-color: rgb(248, 248, 227);
}
.feedback h1{
    text-align: center;
}
.feedback .main{
    padding-left: 15px;
}
.feedback-title-inside{
    display: flex;
    gap: 8px;

}
.feedback-title-inside img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding-top: 20px;
}
.main{
    display: flex;
    gap: 100px;
}
.nd{
    color: #757575;
}
.extra{
    margin: 120px;
    justify-content: center;
}
.extra img{
    height: 450px;
    width: 100%;
    border-radius: 60px;
    margin-top: 20px;
}
.extra h1{
    font-size: 50px;
    text-align: center;
}
.extra small{
    text-align: center;
    padding-left: 435px;
    font-size: 15px;    
    color: #757575;
}
.extra button{
    margin-left: 580px;
    margin-top: 20px;
}
.touch{
    margin-top: 120px;
    margin-left: 160px;
    margin-bottom: 120px;
    display: flex;
    gap: 300px;
    height: 400px;
}
.touch-left{
    font-size: 2.5em;
    padding-top: 30px;
}
.touch-left h1{
    font-size: 80px;
    padding-left: 10px;
}
form{
    margin-top: 40px ;
    height: 350px;
    width: 500px;
}
form input, textarea {
    border-radius: 10px;
    width: 90%;
    height: 50px;
    margin-top: 8px;
    background-color: rgb(235, 234, 233);
    border: none;
    padding: 10px;
}
.btnslt{
    background-color:#4E47FF ;
    margin-top: 20px;
    padding:20px 200px;
    border: none;
    border-radius: 10px;
}
.btnslt:hover{
    background-color: rgb(45, 144, 36);
    box-shadow: 5px 5px rgb(105, 177, 201);
}
.last{
    /* border: 1px solid black; */
    margin: 177px 500px;
}
.last h1{
    text-align: center;
    font-size: 90px;
    color: #4E47FF;
}
.last p{
    margin-left: 10px;
    color: #757575;
    justify-content: center;
}
nav a{
    padding-left: 60px;
    text-decoration: none;
    color: #757575;
}
